*, *::before, *::after{
box-sizing: border-box;
}

body{
    box-sizing: inherit;
    margin: 0 auto;
    font-family: 'El-messiri', 'Poppins', sans-serif;
     max-width: 1200px;
    
}

html{
    font-size: 16px;
}

h1{
    font-family: 'El Messiri', sans-serif;
    font-size: 4rem;
    font-weight: 200;
    color: #2a592f;
    line-height: 1.12;
    margin-bottom: .1rem;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.5;

}
img{
    width: 100%;
}
nav{
    display: flex;
     
    justify-content: space-between;
    align-items: center;
    margin: 2em 5em;
}
.nav-logo{
    color: #2a592f;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.nav-logo-span{
    font-weight: 300;
    color:#4f5a4f;

}
.nav-logo img{
    width: 30px;
    height: 30px;
    margin-left: 6px;
}
.nav-toggle{
    display: none;
}
nav li {
    display: inline-block;
    list-style: none;
    margin-right: 1em;
}

.container{
    padding: 2em 5em; 
    width: 100%
}

.row{
    display: flex;
    align-items: center;
    border: 1px solid black;
    font-size: clamp(1rem, 0.8rem + 1vw, 3rem);
}
.col{
    border: 1px solid black;
    position: relative;
    width:100%;
    
}
.col + .col{
    margin-left: 1em;
}
.banner img{
    object-fit: cover;
    object-position: center;
    height: auto;
}
.banner  p{
    text-transform:capitalize;
}

.btn-green{
    border-radius: 50px;
    background-color: #2a592f;
    border: none;
    color: #fff;
   
    padding: 1em 2em;
}
.btn-white{
    border-radius: 50px;
    background-color: #fff;
    color: #2a592f;
  
    padding: 1em 2em;
}
.description img{
    border-radius: 25px;
}
.services{
    text-align: center;
  
}
.services .col{
    height: 330px;
    background-color: #2a592f;
    color: #fff;
    padding: 1.5em;
    border-radius: 25px;
}
.services img{
    width: 100px;
    height: 100px;
}
.services .col h1{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .05rem;
}
.services .col p{
    font-size: .8rem;
 
}
.intro{
    padding: 3em;
}
.testimonials{
    text-align:center;
}
.testimonials .row{
    align-self: flex-start;
}
.testimonials .col{
    height: 400px;
    max-height: 500px;
    background-color: #fff;
    color: #2a592f;
    padding: 1.5em;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 5px solid #2a592f;
}
.testimonials img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    object-position: center;
    object-fit: cover;
}
.testimonials .col h1{
    color: #2a592f;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .05rem;
}
.testimonials .col p{
    font-size: .8rem;
    color: #000;
}

.footer {
    padding-top: 5em;
}
.footer ul{
    color: #2a592f;
    font-weight: 400;
}
.footer li{
    list-style: none;
    color: #000;
    font-weight: 200;
    font-size: .8rem;
}
.footer .row{
align-items: flex-start;
 
}
.footer .col+ .col{
    margin-left: 1em;
}
.end{
    display: flex;
    
    padding-top: 2em;
}
.icons{
      display: flex;
    
}
.icons img{
    height: 30px;
    margin-right: 1em;
}
.copyright{
    margin: 0 auto;
}
.reduce{
    font-size: 1.2rem;
}
.reduce img{
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 837px) {
    body{
        max-width: 600px;
   
    }
    .nav-toggle{
        display: block;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;

    }
    .container{
        width: 100%;
        padding: 1em;
    }
    .row{
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .col{
        width: 100%;
      
    }
    .col+ .col{
        margin-left: 0;
        margin-top: 2em;
    }
    .end{
        flex-direction: column;
        
    }
    .copyright{
        text-align: center;
        margin-top: 2em;
    }
     
    .footer .col+ .col{
        margin-left: 0;
        margin-top: 1em;
    }
}